<h1><%= @beer.name%></h1>
<h3>Style:</h3>
<p><a href="/styles/<%= @beer.style.id %>"><%= @beer.style.name %></a></p>
<h3>Description:</h3>
<p><%= @beer.description %></p>
<form action="/beers/"></form>
