<h1>Cracking a Cold One with the Boys</h1>
<p>Let's get Cracking!</p>
<form action="/categories" method="GET">
  <button>Browse all Categories</button>
</form>
<form action="/styles" method="GET">
  <button>Browser all Styles</button>
</form>
